.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 60px;
  position: left;
}

.App-header {
  background-color: #222;
  color: white;
}

.App-footer {
  background-color: #222;
  height: 30px;
  color: white;
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.App-intro {
  font-size: large;
}

h5 {
  font-size: 0.70em;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
